:root {
    --primary-bg-color: #ececec;
    --main-bg-color: #E8E7E7;
    --secondary-bg-color: #000000;
    --hovered-primary-bg-color: #2b2899;
    --colored-border: #2b2899;
}

.d-flex {
    display: flex !important;
    flex-direction: row !important;

}

.squared-pill {
    border-radius: 12px;
}

.ham-bg {
    background-color: #4B3C97 !important;
}

.vr {
    height: 2em !important;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
}

.font-2 {
    font-size: 17px !important;
    margin: 0px;
    font-weight: bolder;
}

.mt-minus {
    margin-top: -22px;
}

.p-14 {
    padding: 14px !important;
}

.cont-style {
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
    padding-right: 0px !important;
}

.width-100 {
    width: 100% !important;
}

.span {
    height: 0px;
    position: relative;
    width: 100%;
    background-color: #2b2899;
    z-index: 3;
    margin-top: -3px;
}

@media(max-width:770px) {
    .span {
        display: none;
    }
}

.rounded-pill {
    border-radius: 50% !important;
}

.b-red {
    border: 1px solid #980000 !important;
}

.orange-border {
    border-bottom: 2px solid rgb(238, 179, 70);
}
.p-r-l{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.orange-dot {
    width: 8px;
    position: relative;
    top: -2px;
    height: 8px;
    background-color: rgb(238, 179, 70);
    border-radius: 50%;
    display: inline-block;
}

.pink-border {
    border-bottom: 2px solid rgb(238, 70, 202);
}

.pink-dot {
    width: 8px;
    position: relative;
    top: -2px;
    height: 8px;
    background-color: rgb(238, 70, 202);
    border-radius: 50%;
    display: inline-block;
}

.sky-border {
    border-bottom: 2px solid rgb(0, 174, 255);
}

.sky-dot {
    width: 8px;
    position: relative;
    top: -2px;
    height: 8px;
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    display: inline-block;
}

.purple-border {
    border-bottom: 2px solid rgb(72, 35, 131);
}

.purple-dot {
    width: 8px;
    position: relative;
    top: -2px;
    height: 8px;
    background-color: rgb(72, 35, 131);
    border-radius: 50%;
    display: inline-block;
}

.green-border {
    border-bottom: 2px solid rgb(35, 131, 75);
}

.green-dot {
    width: 8px;
    height: 8px;
    background-color: rgb(35, 131, 75);
    border-radius: 50%;
    display: inline-block;
}

.fs-7 {
    font-size: 13px;
}

.process-btn {
    background-color: #4C9BA1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

.process-btn .arrow {
    font-size: 12px;
    line-height: 1;
}

.process-btn:hover {
    background-color: #3a838a;
    cursor: pointer;
}

.prescription-med {
    padding: 10px;
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 9px;
    font-weight: bolder;
    color: #2c2c2c !important;
}

.grey-background {
    background-color: #F7F7F7 !important;
}

.pill-bg {
    background-color: rgba(218, 218, 218, 0.678);
    color: black;
}

.pill-bg-orange {
    background-color: rgb(235 195 120 / 59%);
    color: black;
}

.pill-bg-pink {
    background-color: rgb(233 115 207 / 45%);
    color: black;
}

.pill-bg-sky {
    background-color: rgb(96 195 241 / 31%);
    color: black;
}

.pill-bg-purple {
    background-color: rgb(91 68 128 / 34%);
    color: black;
}

.pt-6x {
    padding-top: 6px !important;
}

.br {
    border-radius: 8px !important;
}

.bold-text {
    font-weight: bolder;
}

.grey-bg {
    background-color: #ececec !important;
}

.white-bg {
    background-color: #ffffff !important;
}

.width-auto {
    width: auto !important;
}

.text {
    margin-left: 1px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

@media(max-width:550px) {
    .flex-d {
        flex-direction: column !important;
    }

}

tr {
    border: 2px solid #dddddd !important;
}

.pd-19 {
    padding-top: 19px !important;
}

.border-right {
    border-right: 1px solid #dddddd !important;
}

th,
td {
    border: none !important;
}

.border {
    border: 1px solid #dddddd !important;
}

.color-border {
    border: 1px solid var(--colored-border) !important;
}

.transparent-bg {
    background-color: white !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

.border-none {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.margin-10 {
    margin-top: 10px !important;
}

.text-center {
    text-align: center !important;
}

.max-width {
    max-width: 100% !important;
}

.width {
    width: 100% !important;
}

.ml-13 {
    margin-left: 13px !important;
}

.form-check-input {
    background-color: #2b2899 !important;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.btn-success {
    background-color: #2b2899 !important;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media screen and (max-width: 868px) {
    .min-width {
        width: 105px;
    }
}

.check-form {
    display: flex;
    flex-direction: column;
}

.check-form span {
    font-weight: bolder;
}

.grey-bg {
    background-color: var(--primary-bg-color);
}

/* Sidebar styles */
.sidebar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: left 0.1s ease-out;
    background-color: #fff;
    width: 100px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
}

.sidebar h5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.side-logo {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 13px;
    width: 53px;
}

.profile-photo {
    width: 2rem;
    height: 2rem;
    margin: -.375rem 0;
}

.col-3.active {
    color: #2b2899 !important;
}

.col-3 svg:active {
    color: #2b2899 !important;

}

.active {
    color: white !important;
    background-color: #4B3C97 !important;
}

.p-side {
    font-size: 15px;
    margin: 0px;
}

.pr-li {
    margin-right: 5px;
    margin-top: -7px;
}

.pr-li2 {
    cursor: pointer;
    padding: 8px;
    color: #999999;
    font-size: 18px;
    font-weight: bolder;
}

.pr-li2 img {
    margin-right: 5px;
    margin-top: -7px
}

.side-ul {
    margin-top: -10px;
}

.text-close {
    display: none;
}

.side-image1 {
    margin-right: 5px;
    margin-top: -7px;
}

.side-image2 {
    margin-top: -7px
}

.side-image3 {
    margin-right: 3px;
    margin-top: -7px
}

.side-image4 {
    margin-right: 5px;
    margin-top: -7px
}

.side-image5 {
    margin-right: 5px;
    margin-top: -3px
}

.drop-arrow {
    margin-top: 4px;
    margin-right: 8px;
}
.main-layout{
    background-color: var(--main-bg-color);
}
.main-part {
    /*z-index: 1;*/
    margin-left: 100px;
    width:  90% !important;
    padding: 54px !important;
    min-height: 100vh !important;
    margin-top: 15px !important;
}

@media(max-width:895px) {
    .main-part {
        width: 100% !important;
        margin-left: 0;
        margin-top: 15px !important;
    }
}

.main-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.close-btn {
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(83, 79, 235);
    font-weight: bolder;
    position: relative;
    top: -13px;
    left: 2px;
}

.cur-point {
    cursor: pointer;
}

.company-logo {
    text-align: center;
    padding: 20px 0;
}

.logo-image {
    max-width: 80px;
    height: auto;
}

.parent-mob-sidebar {
    display: none;
}

@media(max-width:770px) {
    .parent-mob-sidebar {
        display: block;
    }
}

@media(max-width:895px) {
    .sidebar {
        display: none;
    }
}

.sidebar-open {
    left: 0;
    width: 240px;
}

/* Sidebar title styles */
.sidebar-title {
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.8s ease;
    cursor: pointer;
}

.setting-profile a {
    margin-bottom: 12px;
    padding-left: 0px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: center;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.setting-profile {
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    display: flex;
    color: grey;
    font-size: 20px;
    flex-direction: column;
    margin-left: 1px;
}

.sidebar-title div {
    display: flex;
    flex-direction: column;
    color: grey;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidebar-title div p {
    font-size: 15px;
    margin: 0px;
}


.success-note {
    background-color: #2b2899 !important;
    color: #fff !important
}

.sidebar-title {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.sidebar-title,
.sidebar-title svg {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.sidebar-title:hover {

    background-color: #4B3C97 !important;
    color: #fff !important;
}

.sidebar-title svg:hover {
    color: #fff !important;
}


.attendance-btn {
    background-color: var(--hovered-primary-bg-color);
    color: white
}

.attendance-btn2 {
    background-color: var(--hovered-primary-bg-color);
    margin-top: 10px;
    color: white;
    margin-left: 13px !important;
}

.mbt-1 {
    margin-bottom: 10px;
}

.margin-bot {
    margin-bottom: 25px;
}

.margin-bot2 {
    margin-bottom: 35px;
}

.mlt-10 {
    margin-top: 10px;
}

.sidebar-title svg {
    transition: color 0.5s ease-in-out;
}

/* .sidebar-title svg:hover {
    color: #fff;
} */


/* Media query for mobile view */
@media (max-width: 500px) {

    .sidebar {
        height: 100%;
        overflow-y: auto;
        transition: left 0.3s;
        /* background-color: #5182c7; */
        z-index: 1000;
    }



    .sidebar .company-logo {
        text-align: center;
        padding: 15px 0;
    }

    .sidebar-title {
        text-align: center;
        justify-content: space-between;
        border-radius: 15px;
        padding: 8px;
        transition: background-color 0.8s ease;
        cursor: pointer;
    }

    .sidebar-title:hover {
        background-color: #2a46c4;
        padding: 8px 10px;
    }
}

/*Css for Buttons*/
.btn {
    display: inline-block !important;
    padding: 8px 12px !important;
    font-size: 15px !important;
    border: none;
    border-radius: 8px !important;
    /* Adjust the value for the level of rounding */
    cursor: pointer !important;
}

.btn.grey-bg {
    background-color: var(--primary-bg-color);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.btn.grey-bg:hover {
    background-color: var(--hovered-primary-bg-color);
    color: white;
}

.btn.black-bg {
    background-color: var(--hovered-primary-bg-color);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn.black-bg:hover {
    background-color: var(--primary-bg-color);
    color: black;
}

/*Css for Tables*/
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 15px;
}

.table th,
.table td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f5f5f5;
}

/* .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
} */

/* .table tbody tr:hover {
    background-color: #e0e0e0;
} */

/*Pagination CSS*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 15px;
}

.pagination-item {
    padding: 5px;
    /* border: 2px solid black; */
    margin: 3px;
    cursor: pointer;
}

.pagination-button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
}

.active-pagination-button {
    background-color: #2b2899;
    font-weight: bold;
    color: #fff;
}

/* Style the icons */
.icon {
    background: none;
    border: none;
    padding: 8px 12px !important;
    /*transition: transform 0.3s ease; !* Adding the transition property *!*/
    margin: 0;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s ease;
}

.icon:hover {
    color: #2b2899;
    animation: smooth-bounce 0.4s ease-in-out infinite alternate;
}

/* Define a smooth bounce animation */
@keyframes smooth-bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-8px);
    }
}


.list-group-item.active {
    z-index: 2;
    color: grey !important;
    background-color: white !important;
    border-color: white !important;
}

@keyframes bounce {
    from {
        transform: translateY(0);
        /* Starting position */
    }

    to {
        transform: translateY(-8px);
        /* Bouncing up position */
    }
}

.payroll {
    display: flex;
    flex-direction: column;
}

.step-pending {
    color: #e1e1e1;
}

.payroll-steps .container {
    width: 100%;
}

@media (max-width: 500px) {
    .payroll-steps .container {
        width: 320px;
    }
}

.progressbar {
    counter-reset: step;
    margin-bottom: 0px !important;
}

.progressbar li {
    list-style-type: none;
    border: 1px solid #d7d5d5;
    float: left;
    width: 250px;
    position: relative;
    text-align: center;
    font-weight: 600;
}

.progressbar li:before {
    /* CSS for creating steper block before the li item*/
    content: counter(step);
    counter-increment: step;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    /* CSS for creating horizontal line*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.step-completed {
    color: #27ae60;
}

.progressbar li.step-completed:before {
    border-color: #27ae60;
}

.progressbar li.step-completed+li:after {
    background-color: #27ae60;
}

.cur-pt {
    cursor: pointer;
}

/*payroll-emp-select*/

.payroll-emp-select {
    margin-left: 12%;
}


/*profile*/
.Profile-dropdown {
    position: absolute;
    top: 100%;
    left: 87%;
    z-index: 1001;
    list-style: none;
    padding: 0;
    margin: 6px 0 0 0;
    /*width: 100%;*/
    border: 1px solid black;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
}

@media (max-width: 992px) {
    .Profile-dropdown {
        left: 1%;
    }
}

.Profile-dropdown li {
    padding: 10px;
    cursor: pointer;
    /*user-select: none;*/
}

.Profile-dropdown li:hover {
    background-color: #f0f0f0;
}

.Profile-dropdown {
    display: block;
}

.settings-tabs {
    background-color: #bfc0c28a;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* navbar */
.main-navbar-sec{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    margin-left: 110px;
    background-color: var(--main-bg-color) ;
}
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand svg{
    margin-top: 25px;
}
.navbar-row {
    margin-left: 15px !important;
    width: 100% !important;
    justify-content: space-between !important;
    padding-top: 10px !important;
}

@media(max-width:895px) {
    .navbar-row {
        margin-left: 45px !important;
    }
    .main-navbar-sec{
        margin-left: 0;
    }
}

.profile-div {
    width: 150px;
}

.bell {
    padding: 6px 12px !important;
    background-color: #ffffff !important;
    border: 1px solid #e1e1e1 !important;
}

.gear {
    color: #808080;
    font-size: 22px;
    margin-right: 15px;
}

.main-navs {
    display: flex;
    margin-left: 98px;
    flex-direction: column;
}

.settings-tabs .nav-tabs .nav-link {
    color: #495057;
    border: none;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.settings-tabs .nav-tabs .nav-link.active {
    background-color: #5182c7be;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




/*/////////////////////////*/

/*kanban*/
.kanban-board-main {
    width: 100%;
    margin-top: 55px;
    overflow-x: auto;
    height: 85vh;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    width: 120%;
    gap: 20px;
}

.kanban-list {
    width: 280px !important;
}

.kanban-list-header {
    background-color: #ececec;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    min-height: 28px;
}

.kanban-list-header input {
    border: none;
    padding: 4px 4px 4px 14px;
    font-size: 16px;

}

.kanban-list-header-edit {
    float: right;
    opacity: 0.6;
    font-size: 0.875rem;
    /* Adjust as needed */
    vertical-align: super;
}

.main-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pulse-image {
    display: flex;
    justify-content: flex-end;
}

.pulse-image img {
    width: 80%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.pulse-login-column1 {
    width: 40%;
}

.pulse-login-column2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or-span {
    display: flex;
    color: grey;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
}

@media(max-width:470px) {
    .or-span {
        display: none;
    }
}

.or-span2 {
    display: none;
    color: grey;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
}

@media(max-width:470px) {
    .or-span2 {
        display: flex;
    }
}

.login-head h1 {
    font-size: 35px;
}

.login-head p {
    margin-top: 20px;
    margin-bottom: 45px;
    color: rgb(155, 155, 155);
    font-size: 15px;
}

.pulse-login-row {
    margin-top: 50px;
    max-width: 1440px;
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width:1000px) {
    .pulse-login-row {
        flex-direction: column;
    }

    .pulse-login-column1 {
        width: 100%;
    }

    .pulse-login-column2 {
        width: 100%;
    }
}

@media(max-width:500px) {
    .pulse-login-row {
        margin: 0px;
    }
}

.forgot-link-pass {
    text-align: right;
}

.forgot-link-pass p {
    color: rgb(155, 155, 155);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.google-sign button {
    margin-top: 40px;
    border: none;
    background-color: #1C6CE5;
    padding: 9px 40px;
    margin-left: -3px;
    font-size: 16px;
    border: 1px solid #1C6CE5;
    color: white;
}

@media(max-width:340px) {
    .google-sign button {
        font-size: 12px;
    }
}

.google-sign img {
    margin-top: -1.35px;
}

@media(max-width:340px) {
    .google-sign img {
        width: 48px;
        margin-top: 1px;
    }
}

.login-btn1 {
    border: none;
    border-radius: 7px;
    background-color: #2b2899;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #2b2899;
    color: white;
}

.login-btn2 {
    border: 1px solid #2b2899;
    border-radius: 7px;
    background-color: white;
    padding: 10px 40px;
    font-size: 16px;
    color: #2b2899;
}

@media(max-width:350px) {
    .login-btn2 {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 10px;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-btns {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media(max-width:350px) {
    .login-btns {
        flex-direction: column;
    }
}

.login-field {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #2b2899;
    padding: 7px 10px;
    border-left: 7px solid #2b2899;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.login-field input {
    width: 100%;
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent !important;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    margin: 2px 0;
}

.login-field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    /* Or desired text color */
    transition: background-color 9999s ease-in-out 0s;
}


.floating-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #666;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease;
}

.floating-label.active {
    top: 5px;
    font-size: 14px;
    color: #2b2899;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.forgot-link-pass a {
    text-decoration: none;
    color: blue;
}

/* loader.vue css */

#loader {
    /* Uncomment this to make it run! */
    /*   animation: loader 5s linear infinite;*/
    margin-left: -75px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

#box1 {
    width: 50px;
    height: 50px;
    background: #2b2899;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

#box2 {
    width: 50px;
    height: 50px;
    background: #2b2899;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 73px;
    border-radius: 3px;
}

#box3 {
    width: 50px;
    height: 50px;
    background: #2b2899;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 142px;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow1 {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

#shadow2 {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 73px;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

#shadow3 {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 142px;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

/* Loading.vue css */

.progress {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    width: 0%;
    transition: width 0.2s, opacity 0.4s;
    opacity: 1;
    background-color: #efc14e;
    z-index: 999999;
}


/* Navbar.vue css */

.side-logo2 {
    display: none;
}

@media(max-width:895px) {
    .side-logo2 {
        width: 120px;
        display: block;
    }
}

@media(max-width:450px) {
    .side-logo2 {
        width: 90px;
    }
}

@media(max-width:620px) {
    .logo-top {
        position: relative;
        left: 238px;
    }
}

@media(max-width:535px) {
    .logo-top {
        position: relative;
        left: 200px;
    }
}

@media(max-width:480px) {
    .logo-top {
        position: relative;
        left: 165px;
    }
}

@media(max-width:390px) {
    .logo-top {
        position: relative;
        left: 135px;
    }
}

@media(max-width:380px) {
    .logo-top {
        position: relative;
        left: 150px;
    }
}

@media(max-width:360px) {
    .logo-top {
        position: relative;
        left: 120px;
    }
}

a {
    text-decoration: none !important;
}

.nav-link:hover {
    color: #2b2899;
}

.navlink-1 a {
    padding: 30px !important;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 0px;
}

@media(max-width:1027px) {
    .navlink-1 a {
        font-size: 14px;
    }
}

/* Hover effect */
.navlink-1 a:hover {
    background-color: #a9a9a9;
    color: rgb(255 255 255) !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Vue Router's default active class */
.navlink-1 .router-link-exact-active {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    ;
    transform: translateY(-2px);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}


.navlink-2 a {
    padding: 10px;
    color: grey;
    font-weight: bolder;
}

.navlink-1 a.active-link {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
}

.navlink-2 a.active-link {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 10px;
}

@media(max-width:620px) {
    .links {
        margin-top: -135px;
    }
}

@media(max-width:450px) {
    .links {
        margin-top: -88px;
    }
}

.navlinks {
    margin-left: 25px;
    position: relative;
}

@media(max-width:895px) {
    .navlinks {
        display: none;
    }
}

.navlink-1 {
    position: relative;
    display: inline-block;
}

.navlink-2 {
    position: relative;
    display: inline-block;
}

.nav-link-1 a {
    text-decoration: none !important;
    color: #333 !important;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-link-2x a {
    text-decoration: none !important;
    color: #333 !important;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}



/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    min-width: 160px;
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s;
}

.dropdown.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Dropdown List Items */
.dropdown li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.3s ease-in-out, padding-left 0.3s ease-in-out;
}

.dropdown li a:hover {
    background: #2b2899;
    color: white;
    padding-left: 16px;
}

/* Unauthorized.vue css */

.content-unauthorized h1 {
    color: white;
}

@media (min-width: 640px) {
    .unauthorized-main-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=2&fit=crop&fm=jpg&h=960&ixlib=rb-0.3.5&q=50&w=1440);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .unauthorized-text {
        color: #fff;
        /* Set the text color to white */
        font-size: 22px;
        /* Adjust the font size as per your requirement */
    }

    .content-unauthorized {
        width: 750px;
        /* Adjust the width as per your requirement */
        height: 350px;
        /* Adjust the height as per your requirement */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #333;
        padding: 45px 20px 20px;
        box-sizing: border-box;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
        border-radius: 5px 5px 0 0;
    }

    .unauthorized-browser-bar {
        background: #f9f9f3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 5px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    .unauthorized-button {
        display: inline-block;
        float: left;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .unauthorized-close {
        background: #fc635d;
    }

    .unauthorized-min {
        background: #fdbc40;
    }

    .unauthorized-max {
        background: #34c84a;
    }
}

/* default.vue css */

.hover-link {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    color: black;
    /* Default text color */
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-link::before {
    content: "•";
    /* This creates the dot */
    position: absolute;
    left: -6px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    /* Initially hidden */
    font-size: 28px;
    color: transparent;
    /* Hidden initially */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-link:hover {
    color: #635BFF;
    /* Smooth color transition to blue */
    transform: translateX(10px);
    /* Moves text slightly to the right */
}

.hover-link:hover::before {
    color: #635BFF;
    /* Dot becomes visible */
    transform: translateY(-50%) scale(1);
    /* Dot smoothly appears */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    pointer-events: none;
    z-index: 3000;
}

.overlay-active {
    background-color: rgb(0 0 0 / 51%);
    pointer-events: all;
    z-index: 3003;
}


.mobile-hamburger {
    font-size: 27px;
    background: none;
    border: none;
    cursor: pointer !important;
    position: fixed;
    top: 27px;
    z-index: 3000;
    left: 15px;
    width: 50px !important;
    display: none;
}

@media(max-width:450px) {
    .mobile-hamburger {
        top: 28px;
    }
}
@media(max-width:895px) {
    .mobile-hamburger {
        display: block;
    }
}

.mobile-sidebar-default {
    position: fixed;
    z-index: 4000;
    top: 0;
    display: none;
    left: -250px;
    width: 250px !important;
    height: 100%;
    background: #fff;
    color: #333;
    transition: left 0.3s ease-in-out;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media(max-width:895px) {
    .mobile-sidebar-default {
        display: block;
    }
}

.mobile-sidebar-default.mobile-open {
    left: 0;
    /* overflow-y:auto; */
}

.mobile-sidebar-default ul {
    list-style: none;
    padding: 0;
}

.mobile-dropdown {
    cursor: pointer;
}

.mobile-dropdown span {
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.mobile-sidebar-default li a {
    color: #999999;
    padding: 8px;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.mobile-dropdown-menu {
    padding-left: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mobile-dropdown-menu2 {
    padding-left: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mobile-dropdown-menu3 {
    padding-left: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.mobile-dropdown-menu4 {
    padding-left: 35px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-open {
    max-height: 100px;
}

.dropdown-open a {
    font-size: 13px;
}

.sidebar-icon {
    color: #999999;
}

.hidden {
    display: none;
}

.list-group-item-default {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    justify-content: space-between;
    border: none;
    padding: 8px;
    font-size: 12px;
}



/* Signup.vue css */



.register-sub-container {
    width: 275px;
}

@media(max-width:650px) {
    .register-sub-container {
        margin-left: 0px !important;
    }
}

@media(max-width:425px) {
    .register-sub-container {
        width: 100%;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
}

/* Common Input Styling */
.custom-select,
.phone-input {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #2b2899;
    border-radius: 6px;
    padding: 25px;
    font-size: 16px;
    padding-bottom: 17px;
    border-left: 7px solid #2b2899;
    background: transparent;
    width: 100%;
}

.phone-input {
    padding-bottom: 10px;
}

.custom-select select,
.phone-input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent !important;
}

/* Floating Label */
.custom-select label,
.phone-input label {
    position: absolute;
    left: 12px;
    top: 22%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 500;
    color: #666;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease;
}

/* Floating Effect When Active */
.custom-select label.active,
.phone-input label.active {
    top: 8px;
    font-size: 12px;
    color: #6b46c1;
}

/* Dropdown Icon */
.dropdown-icon {
    position: absolute;
    right: 10px;
    color: #6b46c1;
}

/* Flag Styling */
.flag {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.flag img {
    width: 20px;
    height: 14px;
    border-radius: 3px;
}

.password-validation-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media(max-width:425px) {
    .password-validation-container {
        align-items: center;
    }
}

.error-message {
    display: flex;
    align-items: center;
    color: red;
    font-size: 14px;
}

.error-icon {
    margin-right: 5px;
    color: red;
}

.terms-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.terms-container input {
    margin-right: 8px;
}

.link {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.register-sub-row {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(max-width:650px) {
    .register-sub-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:550px) {
    .register-sub-row {
        width: 100%;
    }
}

.pulse-image {
    display: flex;
    justify-content: flex-end;
}

.pulse-image img {
    width: 80%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
}

.pulse-register-column1 {
    width: 40%;
}

@media(max-width:650px) {
    .pulse-register-column1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pulse-register-column2 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.register-head h1 {
    font-size: 35px;
}

.register-head p {
    margin-top: 20px;
    margin-bottom: 45px;
    color: rgb(155, 155, 155);
    font-size: 15px;
}

.register-logo {
    margin-bottom: 75px;
}

.pulse-register-row {
    margin-top: 50px;
    max-width: 1440px;
    padding: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width:1000px) {
    .pulse-register-row {
        flex-direction: column;
    }

    .pulse-register-column1 {
        width: 100%;
    }

    .pulse-register-column2 {
        width: 100%;
    }
}

@media(max-width:500px) {
    .pulse-register-row {
        margin: 0px;
    }
}

.register-btn1 {
    border: none;
    border-radius: 7px;
    background-color: #2b2899;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #2b2899;
    color: white;
}

@media(max-width:350px) {
    .register-btn1 {
        width: 100%;
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
}

.register-btn2 {
    border: 1px solid #2b2899;
    border-radius: 7px;
    background-color: white;
    padding: 10px 40px;
    font-size: 16px;
    color: #2b2899;
}

@media(max-width:350px) {
    .register-btn2 {
        margin-left: 0px !important;
        margin-top: 10px;
    }
}

.register-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.register-btns {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media(max-width:350px) {
    .register-btns {
        width: 100%;
        flex-direction: column;
    }
}

.register-field {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #2b2899;
    padding: 7px 10px;
    border-left: 7px solid #2b2899;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.register-field input {
    width: 100%;
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent !important;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
}

.register-field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    /* Or desired text color */
    transition: background-color 9999s ease-in-out 0s;
}

.floating-label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #666;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease;
}

.floating-label.active {
    top: 5px;
    font-size: 14px;
    color: #2b2899;
}

.eye-icon {
    position: relative;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}


/* myAttendance.vue */


.user-image {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card {
    max-width: 100%;
    margin: 0 auto;
}

.card-header {
    text-align: center;
    padding: 10px;
}

.card-body-myattendance {
    text-align: center;
    padding: 20px;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    float: right;
}

.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #adabab6b;
    box-shadow: 10px 10px 30px #5182c788;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 2rem;
    margin: 0;
}

.date {
    font-size: 1rem;
    color: #888;
    margin: 0;
}

.button-row {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.btn-action {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary_myattendance {
    background-color: #2b2899 !important;
    color: white !important;
}

.btn-primary_myattendance:hover {
    background-color: #2980b9 !important;
}

.btn-info {
    background-color: #ececec !important;
    color: rgb(0, 0, 0) !important;
}

.btn-info:hover {
    color: white !important;
    background-color: #808080 !important;
}

.btn-action:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed !important;
}

/* viewEmpAttendance.vue */


.user-attendance {
    border: none;
    border-radius: 8px;
    padding: 20px;
    max-width: 300vh;
    margin-top: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-photo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.attendance-counter {
    margin-bottom: 20px;
}

.attendance-counter h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.counter-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.attendance-count {
    flex: 1;
    text-align: center;
}

.attendance-count h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.attendance-count p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.present {
    color: #28a745;
}

.absent {
    color: #dc3545;
}

.attendance-chart {
    text-align: center;
}

.attendance-chart h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.chart-container {}

.btn.active {
    background-color: #2b2899 !important;
    color: #fff !important;
}

/* .btn:hover {
    background-color: #2b2899 !important;
    color: #fff !important;
} */


/* bulkUpdateLedger.vue */

.upload_icon_CSV {
    color: #3399ff;
    cursor: pointer;
}

.upload-input-box-CSV {
    display: none;
}

.two-column-layout {
    display: flex;
    justify-content: space-between;
}

.mapping-item {
    margin-bottom: 20px;
}

.map-dropdown {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.upload-container {
    position: relative;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20px 0;
    border: 2px dashed #3399ff;
    border-radius: 8px;
}

/* Settings for simple progress bar */
.progress-container {
    margin-top: 10px;
    width: 100%;
    height: 25px;
    /* Adjust the height to your preference */
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    /* Add this line to the container */
}

.progress-bar {
    height: 100%;
    background-color: #3399ff;
    border-radius: 4px;
    transition: width 0.3s ease;
    position: relative;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the text vertically and horizontally */
    color: #fff;
    font-weight: bold;
}

/* Setting for Import Button  */
.full-size-btn {
    width: 100%;
    height: 100%;
}


/* view.vue */

.boldText {
    font-weight: bold;
}

/* payroll.vue */
.progressbar li {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
}

.progressbar li.step-active {
    background-color: #ffffff;
    color: #007bff;
}

.progressbar li.step-pending {
    color: #6c757d;
}

.cur-pt {
    cursor: pointer;
}

.tab-container {
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
}

.payroll-steps {
    margin: 14px;
    /* background-color: #f0f0f0; */
}

@media(max-width:900px) {
    .payroll-steps {
        margin-left: -34px;
    }
}

/* addrole.vue */

.permission-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.permission-header {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.permission-body {
    padding: 15px;
}

.permission-list {
    margin-top: 10px;
}

.form-check-label {
    margin-left: 5px;
}


/* updateRole.vue */

.permission-card-updateRole {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.permission-header-updateRole {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.permission-body-updateRole {
    padding: 15px;
}

.permission-list-updateRole {
    margin-top: 10px;
}

.form-check-label-updateRole {
    margin-left: 5px;
}

/* Dashboard.vue */

.centered-heading {
    text-align: center;
    font-size: 50px;
    color: #42567b;
    font-family: 'Arial', cursive;
    margin-top: 15%;
}


/* email.vue */



.title-section {
    margin-bottom: 30px;
}



* {
    font-family: 'poppins', sans-serif;
}

.full-page-email {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container_email {
    width: 100%;
    max-width: 600px !important;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-email {
    display: block;
    margin: 0 auto 20px;
    /* Adjust margin as needed */
    max-width: 200px;
    /* Increase the max width for a larger logo */
}

.top-email {
    text-align: center;
    margin-top: 20px;
}

.header-email {
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px;
}

.input-field-email {
    margin-top: 15px;
    position: relative;
}

.input-email {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #000000;
    font-size: 18px;
    padding: 0 0 0 45px;
    background: rgb(225, 225, 225);
    outline: none;
}

input[type="password"] {
    padding-right: 45px;
}

i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    width: 100%;
    color: white;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.5s;
}

.submit:disabled,
.submit[disabled] {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
} */

@media screen and (max-width: 480px) {
    .container_email {
        padding: 0 15px;
    }
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* change.vue */



.full-page_password_change {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container1_password_change {
    width: 40%;
    min-height: 60vh;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo_password_change {
    display: block;
    margin: 0 auto 20px;
}

.top_password_change {
    text-align: center;
    margin-top: 20px;
}


.header_password_change {
    color: #fff;
    padding-bottom: 10px;
}

.input-field_password_change {
    margin-top: 15px;
    position: relative;
}

.input_password_change {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: #000000;
    font-size: 18px;
    padding: 0 0 0 45px;
    background: rgb(225, 225, 225);
    outline: none;
}

input[type="password"] {
    padding-right: 45px;
}

/* i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
} */

.submit_password_change {
    border: none !important;
    border-radius: 30px !important;
    font-size: 15px !important;
    height: 45px;
    width: 100%;
    color: white !important;
    background: rgba(255, 255, 255, 0.7) !important;
    cursor: pointer !important;
    transition: 0.5s !important;
}

.submit_password_change:disabled,
.submit_password_change[disabled] {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.submit_password_change:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
} */

@media screen and (max-width: 480px) {
    .container1_password_change {
        padding: 0 15px;
    }
}

.shadow_password_change {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-logo {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo img {
    /*width: 120px;*/
}

.login-head {
    margin-bottom: 25px;
}

.animated-line {
    height: 3px;
    width: 0;
    background-color: grey;
    /* Adjust to match your theme */
    animation: expandLine 0.6s ease-out forwards;
    margin-top: 13px;
    border-radius: 1px;
}

@keyframes expandLine {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.pending {
    width: 85px;
    background-color: #FFE493 !important;
    /* margin: 5px; */
    padding: 10px;
    border-radius: 3px;
}

.rejected {
    width: 85px;
    background-color: #FFE3E3 !important;
    /* margin: 5px; */
    padding: 10px;
    border-radius: 3px;
}

.approved {
    width: 85px;
    background-color: #D7F5E4 !important;
    /* margin: 5px; */
    padding: 10px;
    border-radius: 3px;
}

td {
    /* padding-top: 15px !important; */
    /* padding-bottom: 15px !important; */
}

.leave-details {
    max-width: 1200px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

@Media(max-width:1330px) {
    .leave-details {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.available-leaves {
    display: flex;
    padding: 25px;
    width: 270px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #999999;
}

@Media(max-width:1330px) {
    .available-leaves {
        margin: 10px;
    }
}

.balance-leaves {
    display: flex;
    padding: 25px;
    width: 270px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #999999;
}

@Media(max-width:1330px) {
    .balance-leaves {
        margin: 10px;
    }
}

.deducted-leaves {
    display: flex;
    padding: 25px;
    width: 270px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #999999;
}

@Media(max-width:1330px) {
    .deducted-leaves {
        margin: 10px;
    }
}

.pending-leaves {
    display: flex;
    padding: 25px;
    width: 270px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #999999;
}

@Media(max-width:1330px) {
    .pending-leaves {
        margin: 10px;
    }
}

.leave-head {
    font-size: 14px;
    color: #999999;
}

.leave-description {
    font-size: 33px;
}

.page-item button {
    width: 45px;
    border: 1px solid #ececec;
    height: 45px;
    text-align: center;
    background-color: #fff;
    border-radius: 9px !important;
    margin: 0 2px;
}

button:disabled {
    cursor: not-allowed !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        /* max-width: var(--bs-modal-width); */
        margin-right: auto;
        /*max-width: 800px !important;*/
        margin-left: auto;
    }
}

.vender-col-outer {
    width: 100%;
}

.vender-form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.vender-search-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.vender-input {
    padding: 10px;
    font-size: 14px;
    min-width: 200px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.vender-btn {
    padding: 10px 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.vender-grey {
    background-color: #e0e0e0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.vender-grey:hover {
    background-color: var(--hovered-primary-bg-color);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.vender-black {
    background-color: var(--hovered-primary-bg-color);
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.vender-add-button {
    margin-top: 8px;
}

.batch-form-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.batch-summary-card {
    background-color: #fff;
    border-color: #dee2e6;
    border-radius: 10px;
}

.batch-summary-card p {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.process {
    background-color: #00b894;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0, 184, 148, 0.4);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.details-tab-buttons{
    padding: 15px; font-weight: 500;
    font-size: 18px;
    border: 1px solid #595959 !important;
    border-radius: 10px;
}
.detail-head-tab{
    gap:15px; display: flex; flex-wrap: wrap;
}
.details-patient-data-record{
    display: grid;
    grid-template-columns: repeat(3, 1fr); gap: 1rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* patient_listing.vue */

.patient_listing_auth-container {
    height: 60vh;
  }
  .patient_listing_auth-card {
    max-width: 400px;
    width: 100%;
  }
  .patient_listing_search-container {
    max-width: 800px;
    padding: 20px;
  }
  .patient_listing_rounded-container {
    border-radius: 10px;
  }
  .patient_listing_patient-details-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .patient_listing_summary-table {
    border-radius: 10px !important;
    border-collapse: separate;
    overflow: hidden;
    border-spacing: 0;
    box-shadow: var(--bs-box-shadow) !important;
  }
  .patient_listing_summary-table td {
    border-top: 1px solid #abaeb1 !important;
  }


.pres-warning-status {
    background-color: #CA6B6E30;
    color: #CA6B6E;
    padding: 4px;
    font-size: 12px;
}